{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block banner_slider %} {% endblock banner_slider %}
{% block livesale %} {% endblock livesale %}
{% block main-content %}
<section class="breadcrumb-section set-bg" data-setbg="{% static 'app/img/breadcrumb.jpg' %}" style="background-image: url(&quot;app/img/breadcrumb.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contact Us</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Contact Us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container my-3">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
            <div class="contact__widget">
                <span class="icon_phone"></span>
                <h4>Phone</h4>
                <p>+92-300-1234567</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
            <div class="contact__widget">
                <span class="icon_pin_alt"></span>
                <h4>Address</h4>
                <p>Johor Town, Lahore, Pakistan</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
            <div class="contact__widget">
                <span class="icon_clock_alt"></span>
                <h4>Open time</h4>
                <p>10:00 am to 23:00 pm</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 text-center">
            <div class="contact__widget">
                <span class="icon_mail_alt"></span>
                <h4>Email</h4>
                <p>
                    abc@pineapple.com
      </p>
    </div>
  </div>
</div>
</div>

<div class="map">
    <iframe src="https://www.google.com/maps/dir//Samsani+Khui+Block+M+Phase+2+Johar+Town,+Lahore,+Punjab,+Pakistan/@31.4649449,74.2569365,13.81z/data=!4m8!4m7!1m0!1m5!1m1!1s0x391903d81b4c388f:0x9681155a06cbb3fc!2m2!1d74.2773521!2d31.4663493" height="500" style="border: 0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
      <i class="icon_pin"></i>
      <div class="inside-widget">
        <h4>Johor Town</h4>
        <ul>
          <li>Phone: +12-345-6789</li>
          <li>Add: 16 Creek Ave. Farmingdale, NY</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact-form spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact__form__title">
            <h2>Leave Message</h2>
          </div>
        </div>
      </div>
      <form action="#">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <input type="text" placeholder="Your name">
          </div>
          <div class="col-lg-6 col-md-6">
            <input type="text" placeholder="Your Email">
          </div>
          <div class="col-lg-12 text-center">
            <textarea placeholder="Your message"></textarea>
            <button type="submit" class="site-btn">SEND MESSAGE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock main-content %}
{%block CSS%} {%endblock%}